*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------------------/* HOME PAGE START*\-------------------------------------- */

.containerHeader{
    padding: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-weight: bolder;
    display: block;
    border-radius: 20px;
    color: black;
    background-color: rgb(188, 233, 165);
    box-shadow: 5px 10px #000000a6;
}

.containerHeader2{
    padding: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    text-align: center;
    border-radius: 10px;
    color: black;
    box-shadow: 2px 2px #4f4e4ea6;
    background-color: rgba(123, 142, 109, 0.304);
}

.btn{
    border-radius: 3px;
}

/*------- FIRST CONTAINER ----------*/

.bg-image{
    width: 100%;
    height:120%; 
    position:relative; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(wallGMaple.jpg); 
}

.wel{
    padding-top: 230px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 70px;
    color: white;
}

.para1{    
    padding-top: 40px;
    padding-bottom: 10%;
    text-align: center;
    font-size: 16px;
    color: white;
}

/* <!-----CATEGORY CONTAINER-----> */

.card {
    max-width: 500px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(182, 206, 165, 0.304);
}
.card button {
    padding: 12px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #000;
}
.categoryimage{
    padding: 10px 2px;
    max-width: 220px; 
    height: 220px;
    border-radius: 7px;
}
.align{
    padding-left: 7%;
    padding-right: 7%;
}

/* <!-----TODAY'S DEAL-----> */

.deal{
    margin-left: 5%;
    margin-right: 8%;
    padding:1% ;
    display: block;
    border-style: groove;
    border-width: 15px;
    border-color: rgb(118, 164, 78); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    background-color: rgb(38, 39, 37);

}
.block{
    padding: 8px;
    margin-bottom: 5px;
    display: block;
    background-color: rgba(187, 187, 187, 0.341);
}

/* <!-----TRENDING TREES-----> */

.pro{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    max-width: 500px;
    text-align: center;
    border-style: ridge;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(182, 206, 165, 0.304);
}
.latestimages{
    width: 220px; 
    height: 200px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.pName{
    font-size: 23px;
    font-weight: bolder;
}
.pPrice{
    font-weight: bolder;
    opacity: 0.6;
}
.pBtn{
    margin-left: 2%;
    width: 140px;
}
.pIcon{
    padding-left: 6px;
    cursor: pointer;
    color:rgb(41, 131, 9) ;
}

/* <!-----FOR YOU-----> */

.rare{
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 75px;
    max-width: 500px;
    height: 550px;
    text-align: center;
    border-style: ridge;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    background-color: rgba(182, 206, 165, 0.304);
}
.picture{
    margin-top: 2px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}
.interested{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns:3fr 2fr 2fr 2fr 3fr;
    border-style: outset;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(182, 206, 165, 0.304);
}
/* <!-----FOOTER-----> */

.Hfooter{
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    background-color: rgb(188, 233, 165);
}

/* ---------------------------------------/* HOME PAGE DONE*\-------------------------------------- */


/* ---------------------------------------/* MARKET PAGE START*\-------------------------------------- */

/*------- FIRST CONTAINER ----------*/

.M-bg-image{
    width: 100%;
    height: 120%; 
    position:relative; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(wallGMaple.jpg); 
}
.Mmargin{
    margin-top:260px; 
    margin-left:10%;
    margin-right:10%;    
    padding-bottom:5%;
}
.MDropdownbtn{
    width: 200px;
    color: #000;
    font-weight: bolder;
}
.search{
    padding: 7px;
    border-radius: 5px;
    width: 200px;
}
.searchbtn{
    padding: 7px;
    border-radius: 5px;
    color: #000;
}
.Mpadding{
    padding-top: 10px;
}

/*------- HEADLINE ----------*/

.headline{
    padding: 5px;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: block;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(118, 164, 78); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    color: #000;
}
.hr{
    border: 1.5px solid rgb(0, 0, 0);
}
.marketimages{
    width: 180px; 
    height: 200px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.productBtn{
    width: 200px;
    padding: 7px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5px;
    color: #000;
}
.checked {
    color: orange;
  }
.Mfooter{
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    background-color: rgb(188, 233, 165);
}

/* ---------------------------------------/* MARKET PAGE DONE*\-------------------------------------- */

/* ---------------------------------------/* DETAILS PAGE START*\-------------------------------------- */

.Dpadding{
    text-align: center;
}
.Dmargin{
    margin-top:260px; 
    margin-left:10%;
    margin-right:14%;    
    padding-bottom:5%;
}
.DDropdownbtn{
    width: 400px;
    color: #000;
}
.detailContainer{
    font-size: 20px;
}
.DFirst{
    margin-top: 10%;
    margin-bottom: 10%;
}
.Dh2{
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
    text-align: center;
    display: block;
    border-style: double;
    background-color:rgb(222, 216, 209,0.2) ;
}
.Dth{
    text-align: center;
    padding: 2%;
}
.table, th, td {
    border: 3px solid black;
  }